
body {
  font: 1em sans-serif;
  background-color: #fafafa;
  color: #333;
  margin: 2em;
}
input { font-size:.95em; }
a img { border: none; }
iframe { display: block; overflow:hidden; }

#cfg a {
  background: #eee;
  border: 1px solid red;
  border-radius: .5em;
  padding: 3px;
}
#cfg #offline {
  border: 1px solid green;
}

#offline-fm {
  border: 1px solid #bbb;
  border-radius: 5px;
  background: #eee;
  padding: 1em 5px;
  margin: 2em 0;
}
#offline-fm hr{ display: none; }

#log {
  x-white-space: pre-wrap;
  font-family: monospace;
  border: 2px solid #ccc;
  height: 6em;
  overflow-y: scroll;
  padding: 5px;
  margin-top: 4em;
}

.oembed-container {
  border: 1px solid #bbb;
  border-radius: .5em;
}

a.embed, .__embed{
  display: block;
  margin: 1em 0;
}

iframe.example.oembed {
  border: 1px solid #bbb;
}

/* Vimeo size bug fix. */
.oembed-container-Vimeo iframe {
  width: 640px;
  height: 460px;
}
